<div class="container" style="height:500px;">
    <div class="row mt-5">
        <span class="text-center w-100" style="font-size:70px; font-family:Bungee; color:#88b7ff">Uh...</span>
    </div>
    <div class="row my-3">
        <span class="text-center w-100" style="color:#979797">
            <i class="far fa-frown-open" style="font-size: 200px;"></i>
        </span>
    </div>
    <div class="row mb-5">
        <span class="text-center w-100" style="font-size:15px; font-family:Bungee; color:#979797">
            I think you're at the wrong page.
        </span>
    </div>
    
    
    
</div>