#preview{
    font-family: Quicksand;
    width: 100%;
    height: auto;
    min-height: 300px;
    display: block;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.content-area > img {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#preview:focus{
    width: 100%;
    height: auto;
    min-height: 300px;
    display: block;
    border-color:#80bdff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

