<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Bangers&family=Bowlby+One&family=Bowlby+One+SC&family=Bungee&family=Chango&family=Chewy&family=Lilita+One&family=Notable&family=Racing+Sans+One&family=Reenie+Beanie&family=Rubik+Mono+One&display=swap" rel="stylesheet">

<app-header></app-header>
<router-outlet></router-outlet>
<app-resume></app-resume>
<div id="scrollTop" (click)="scrollTop()">
  <i class="fas fa-chevron-up"></i>
</div>
<app-footer></app-footer>