<div class="bottom" style="position:relative; top: 0; width:100%">
    <div class="wave-area">
        <div class="wave wave-animate1"></div>
    </div>
    <div class="footer">
        <div class="container h-100 py-3 px-5">
            <form class="w-100" [formGroup]="contactForm" (ngSubmit)="contactForm.valid">
                <div class="form-group d-flex justify-content-center mb-3"
                    style="font-family: Bungee; color:rgb(112, 139, 189); font-size: 70px;">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-group d-flex justify-content-center"
                    style="font-family: Bungee; color:rgb(190, 211, 235)">
                    Name
                </div>
                <div class="form-group">
                    <input class="form-control w-100" formControlName="name"
                        style="border-radius: 15px; background-color:rgb(112, 139, 189) ; border:none"
                        placeholder="Your Name" />
                </div>
                <div class="form-group d-flex justify-content-center"
                    style="font-family: Bungee; color:rgb(190, 211, 235)">
                    Email
                </div>
                <div class="form-group">
                    <input class="form-control w-100" formControlName="email"
                        style="border-radius: 15px; background-color:rgb(112, 139, 189) ; border:none"
                        placeholder="Your Email" />
                </div>
                <div class="form-group d-flex justify-content-center"
                    style="font-family: Bungee; color:rgb(190, 211, 235)">
                    Message
                </div>
                <div class="form-group">
                    <textarea class="form-control w-100" formControlName="message"
                        style="border-radius: 15px; background-color:rgb(112, 139, 189) ; border:none; min-height:100px; max-height: 150px;"
                        placeholder="What You Want To Tell Me">
                    </textarea>
                </div>
                <div class="form-group my-5">
                    <button class="btn btn-block btn-outline-light" style="font-family: Bungee; border-radius: 15px;">
                        Send Message!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>