.wave-area{
    position:relative;
    width: 100%;
    height: 7vh;
    background-color: white;
    overflow: hidden;
}

.wave-area .wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    background: url(../../../assets/images/wave-footer.png);
    background-size: 1000px 100%;
}

.wave-area .wave.wave-animate1{
    animation: animate-reverse 15s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.footer{
    background-color: #000030;
    width: 100%;
    height: 100%;
}

@keyframes animate-reverse{
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: -1000px;
    }
}