@keyframes openAnimation {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.pdfArea{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(147, 173, 228); 
    z-index:10002 !important; 
    top:0;
    animation: openAnimation 0.3s ease;
}

#pdfClose{
    position:absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#pdfClose i{
    color:white;
    font-size: 40px;
}

#pdfClose:hover i{
    color:rgb(58, 85, 175);
    font-size: 45px;
}
